<template lang="html">
  <sui-modal size="mini" :open="!authUser && !loading">
    <sui-modal-header>Авторизация</sui-modal-header>
    <sui-modal-content>
      <sui-modal-description>
        <sui-form :loading="sending">
          <transition name="fade">
            <sui-message
              v-if="error.visible"
              color="yellow"
              header="Ошибка!"
              :content="error.msg"
            />
          </transition>
          <sui-form-field>
            <label>Адрес электронной почты</label>
            <input required type="email" v-model="form.login" placeholder="example@example.com">
          </sui-form-field>
          <sui-form-field>
            <label>Пароль</label>
            <input required type="password" v-model="form.password" placeholder="****">
          </sui-form-field>
        </sui-form>
      </sui-modal-description>
    </sui-modal-content>
    <sui-modal-actions>
      <!-- <sui-button secondary>Закрыть</sui-button> -->
      <sui-button @click="sendForm" primary>Войти</sui-button>
    </sui-modal-actions>
  </sui-modal>
</template>

<script>
export default {
  name: 'AuthForm',
  data() {
    return {
      error: {
        visible: false,
        msg: ''
      },
      form: {
        login: null,
        password: null
      },
      // open: !this.$store.state.AppStore.authUser,
      sending: false
    };
  },
  computed: {
    authUser () {
      return this.$store.state.app.authUser
    },
    loading () {
      return this.$store.state.app.loading;
    }
  },
  methods: {
    sendForm() {
      this.error.visible = false;

      if (!this.form.login || ! this.form.password) {
        this.error = {
          msg: "Поля логина или пароля не могут быть пустыми!",
          visible: true
        }

        return;
      }

      this.sending = true;
      this.$store.dispatch('login', this.form)
        .catch(err => {
          let msg = 'Неизвестная ошибка';

          if (err && err.status) {
            if (err.message) {
              msg = err.message;
            } else {
              switch (err.status) {
                case 401:
                msg = 'Неверный Email или пароль'
                break;
                case 301:
                msg = 'Не удалось авторизироваться. Возможно устарели ссылки, обратитесь к администратору!'
                break;
              }
            }
          }

          this.error = {
            msg, visible: true
          }
        })
        .finally(() => this.sending = false)
    }
  }
};
</script>

<style lang="css">
</style>
