<template>
  <sui-container fluid>
    <sui-grid>
      <sui-grid-row>

        <sui-grid-column :width="4">
          <TimersList/>
          <!-- <sui-card-group class="centered">
            <TimerSetPanel v-for="timer in timers"/>
          </sui-card-group> -->
        </sui-grid-column>

        <sui-grid-column :width="12">
          <!-- <AuthUserCard v-if="authUser"/> -->
          <sui-item-group>
            <sui-item v-if="authUser">
              <sui-item-content>
                <sui-item-header>{{authUser.username}}</sui-item-header>
                <sui-item-meta>
                  <span>{{authUser.email || authUser.login}}</span>
                </sui-item-meta>
              </sui-item-content>
            </sui-item>
          </sui-item-group>
          <sui-segment stacked="tall">
            <sui-grid>
              <sui-grid-row>
                <sui-grid-column :width="4">
                  <sui-button @click="updateAllCategories" positive :disabled="updatingAllCategories" :loading="updatingAllCategories" content="Обновить все" />
                </sui-grid-column>
                  <!-- <sui-grid-column :width="12">
                    <sui-container text-align="right">
                    Следующее автоматическое обновление всех категорий произойдет через 15 ч. 13 мин.
                  </sui-container>
                </sui-grid-column> -->
              </sui-grid-row>
            </sui-grid>
            <sui-divider />
            <CategoriesList/>
          </sui-segment>
        </sui-grid-column>
      </sui-grid-row>
    </sui-grid>
  </sui-container>
</template>

<script>
  import TimersList from './StartPage/TimersList'
  // import TimerSetPanel from './StartPage/TimerSetPanel'
  import AuthUserCard from './StartPage/AuthUserCard'
  import CategoriesList from './StartPage/CategoriesList'

  export default {
    name: 'start-page',
    data() {
      return {
        updatingAllCategories: false
      };
    },
    computed: {
      authUser () {
        return this.$store.state.app.authUser
      }
    },
    components: { TimersList, AuthUserCard, CategoriesList },
    methods: {
      updateAllCategories() {
        this.updatingAllCategories = true;

        this.$store.dispatch('updateCategories')
          .finally( () => this.updatingAllCategories = false );
      }
    }
  }
</script>

<style>
body {
  padding: 1rem;
  background-color: #f3f3f3;
}

</style>
