<template lang="html">
	<sui-card floated="right">
		<sui-card-content>
			<sui-card-header>{{authUser.username}}</sui-card-header>
			<sui-card-meta>{{authUser.email || authUser.login}}</sui-card-meta>
			<!-- <sui-card-description>
				Elliot Fu is a film-maker from New York.
			</sui-card-description> -->
		</sui-card-content>
		<sui-button attached="bottom">
			<sui-icon name="sign out alternate"/>Выйти
		</sui-button>
	</sui-card>
</template>

<script>
export default {
  name: 'AuthUserCard',
  data() {
    return {
      logouting: false
    };
  },
	computed: {
		authUser () {
			return this.$store.state.app.authUser
		}
	},
  methods: {
    logout() {

    }
  }
};
</script>

<style lang="css">
</style>
