<template lang="html">
  <sui-list divided relaxed>
    <sui-list-item v-for="category in categories">
      <sui-list-icon name="sitemap" size="large" vertical-align="middle" />
      <sui-list-content class="content__full-width">
        <sui-grid>
          <sui-grid-row>
            <sui-grid-column :width="12">
              <a is="sui-list-header" href="#">{{category.name}}</a>
              <p is="sui-list-description">
                {{category.url}}
                <span v-if="category.errorMsg" class="error-text">
                  <br/><b>Ошибка:</b> {{category.errorMsg}}
                </span>
              </p>
            </sui-grid-column>
            <sui-grid-column :width="4">
              <sui-button :loading="category.updating" @click="updateCategory(category)" :disabled="category.updating" floated="right" content="Обновить" icon="sync" label-position="left" />
            </sui-grid-column>
          </sui-grid-row>
            <div class="progress-container" v-if="category.updating && category.totalLots">
              <sui-progress
                color="olive"
                state="active"
                indicating
                progress
                :percent="category.progressLots*100/category.totalLots"
              />
            </div>
        </sui-grid>
      </sui-list-content>
    </sui-list-item>
    </sui-list-item>
  </sui-list>
</template>

<script>
// const categoriesList = require('../../../configs/categoriesList');

export default {
  name: 'CategoriesList',
  // data() {
  //   console.log(this.$store.state.categories.categoriesList);
  //   return {
  //     categories: this.$store.state.categories.categoriesList
  //   }
  // },
  computed: {
    categories () {
      return this.$store.state.categories.categoriesList
    }
  },
  methods: {
    updateCategory(category) {
      this.$store.dispatch('updateCategory', category);
    }
  },
  mounted() {
    this.$store.dispatch('loadCategoriesList');
  }
};
</script>

<style media="screen">
  .error-text {
    color: #e01d1d;
  }
  .content__full-width {
    width: 100%;
  }
  .progress-container {
    width: 50%;
  }
</style>
