<template lang="html">
  <sui-list divided relaxed>
    <sui-list-item v-for="(timer, index) in timers">
      <sui-list-icon class="centered-clock-icon" name="clock outline" size="large" vertical-align="middle" />
      <sui-list-content>
        <span is="sui-list-header">
          <sui-statistic size="tiny">
            <sui-statistic-value class="centered-time"> {{timer.time}} </sui-statistic-value>
          </sui-statistic>
          <sui-button floated="right" @click="removeTimer(timer)" icon="trash alternate outline" />
          <sui-button floated="right" @click="editTimer(timer)" icon="edit outline" />
        </span>
        <div is="sui-list-description" v-if="timer.editing">
          <vue-clock-picker
            :ref="'clockPicker-'+index"
            placeholder="00:00"
            input-container-class="ui input input-with-margin-bottom">
          </vue-clock-picker>
          <sui-button-group size="mini">
            <sui-button @click="setNewTime(timer, index)">Сохранить</sui-button>
            <sui-button @click="editTimerOff(timer)">Отменить</sui-button>
          </sui-button-group>
          <!-- <sui-button size="mini" content="Mini" />
          <sui-button size="mini" content="Mini" /> -->
        </div>
      </sui-list-content>
    </sui-list-item>
  </sui-list>

  <!-- <sui-card-group class="centered">
    <sui-card floated="right" v-for="timer in timers">
  		<sui-card-content>
  			<sui-card-header>{{timer.time}}</sui-card-header>
  			<sui-card-meta>Изменить время обновления</sui-card-meta>
  			<sui-card-description>
  				<vue-clock-picker
  					ref="clockPicker"
  					placeholder="00:00"
  					input-container-class="ui input">
  				</vue-clock-picker>
  			</sui-card-description>
  		</sui-card-content>
  		<sui-button-group attached="bottom" :widths="2">
        <sui-button color="red" content="Удалить"/>
        <sui-button @click="setNewTime(timer)" color="blue" content="Применить"/>
      </sui-button-group>
  	</sui-card>
  </sui-card-group> -->
</template>

<script>
import VueClockPicker from '@pencilpix/vue2-clock-picker';
import '@pencilpix/vue2-clock-picker/dist/vue2-clock-picker.min.css';

export default {
  name: 'TimersList',
  components: {VueClockPicker},
  computed: {
    timers () {
      return this.$store.state.app.timers
    }
  },
  methods: {
    setNewTime(timer, index) {
			this.$store.dispatch('createCategoriesUpdateTask', {
				timer, time: this.$refs['clockPicker-'+index][0].getValue()
			});
      this.$store.dispatch('editTimerOff', timer);
		},
    editTimer(timer) {
      this.$store.dispatch('editTimer', timer);
    },
    editTimerOff(timer) {
      this.$store.dispatch('editTimerOff', timer);
    },
    removeTimer(timer) {
      this.$store.dispatch('removeTimer', timer);
    }
  }
};
</script>

<style media="screen">
.centered-time {
  padding-top: 0.23rem;
}
.centered-clock-icon {
  padding-top: 0.6rem!important;
}

.input-with-margin-bottom {
  margin-bottom: 0.5rem;
}
</style>
