<template lang="html">
	<sui-card floated="right">
		<sui-card-content>
			<sui-card-header>{{updateTime}}</sui-card-header>
			<sui-card-meta>Изменить время обновления</sui-card-meta>
			<sui-card-description>
				<vue-clock-picker
					ref="clockPicker"
					placeholder="00:00"
					:value="updateTime"
					input-container-class="ui input">
				</vue-clock-picker>
			</sui-card-description>
		</sui-card-content>
		<sui-button-group attached="bottom" :widths="2">
      <sui-button color="red" content="Удалить"/>
      <sui-button @click="setNewTime" color="blue" content="Применить"/>
    </sui-button-group>
	</sui-card>
</template>

<script>
import VueClockPicker from '@pencilpix/vue2-clock-picker';
import '@pencilpix/vue2-clock-picker/dist/vue2-clock-picker.min.css';

export default {
  name: 'TimerSetPanel',
	components: { VueClockPicker },
	computed: {
		updateTime () {
			return this.$store.state.app.updateTime
		}
	},
  methods: {
		setNewTime(timer) {
			this.$store.dispatch('createCategoriesUpdateTask', {
				timer, time: this.$refs.clockPicker.getValue()
			});
		}
  }
};
</script>

<style lang="css">
</style>
