<template>
  <div id="app">
    <router-view></router-view>
    <AuthForm/>
    <sui-dimmer :active="loading">
      <sui-loader>Загрузка...</sui-loader>
    </sui-dimmer>
  </div>
</template>

<script>
  import 'semantic-ui-css/semantic.min.css';

  import authService from './services/Auth';
  import AuthForm from './components/AuthForm'

  export default {
    name: 'sibdom-updater',
    components: { AuthForm },
    watch: {
      authUser(val) {
        this.$store.dispatch('initCategoriesUpdateTask')
      }
    },
    computed: {
      loading () {
        return this.$store.state.app.loading;
      },
      authUser () {
        return this.$store.state.app.authUser
      },
    },
    mounted() {
      this.$store.dispatch('checkAuth')
    }
  }
</script>

<style>
  /* CSS */
</style>
